.container-homepage {
  position: relative;
  max-width: 100%;
  margin-bottom: 100px;
}
.container-homepage img {
  max-width: 100%;
  height: 600px;
  margin-left: 83px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-family: "MedievalSharp", cursive;
  width: 70%;
}

.text-overlay h2 {
  font-size: 60px;
  margin-bottom: 100px;
  color: RGB(0, 7, 0);
  background-color: rgba(245, 245, 220, 0.5);
  border-radius: 30px;
}
.text-overlay p {
  font-size: 16px;
  background-color: rgba(245, 245, 220, 0.5);
  line-height: 1.6;
  color: rgb(8, 11, 0);
  border-radius: 30px;
}
