.navbar {
  background-color: #3b5f58;
  width: 100%;
  padding: 14px 16px;
  display: flex;
  color: white;
  text-align: left;
  position: sticky;
  top: 1px;
  justify-content: space-between;
}
h3 {
  font-family: "Garamond", "Palatino", serif;
  text-align: center;
}
.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}
.button-navbar button {
  width: 40px;
  background-color: transparent;
  border: none;
  background: none;
}
.button-navbar > button:hover {
  cursor: pointer;
}
.container {
  height: 90vh;
}
