@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap");

.navbar {
  /* background-color: #3b5f58; */
  /* background: rgb(22, 65, 24); */
  background: linear-gradient(
    90deg,
    rgba(22, 65, 24, 1) 42%,
    rgba(184, 163, 58, 1) 91%
  );
  width: 100%;
  padding: 0px 15px;
  display: flex;
  color: #f8f4ec;
  text-align: left;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  z-index: 2;
  align-items: center;
  height: 4rem;
}
h3 {
  font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-size: 28px;
  font-style: normal;
  text-align: center;
  text-decoration: dashed;
}
.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}
.button-navbar button {
  width: 40px;
  display: flex;
  background-color: transparent;
  border: none;
  background: none;
}
.button-navbar > button:hover {
  cursor: pointer;
}
.container {
  height: 90vh;
}
.navbar-links a {
  font-family: "Material Symbols Outlined", sans-serif;
  text-decoration: none;
  color: #f8f4ec;
}
