@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

.navbar {
  background: linear-gradient(
    90deg,
    rgb(62, 53, 5) 42%,
    /* Couleur plus foncée */ rgba(206, 198, 186, 1) 91%
      /* Couleur plus claire */
  );

  width: 100%;
  padding: 0px 15px;
  display: flex;
  color: #555; /* Couleur de texte gris */
  text-align: left;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  z-index: 50000;
  align-items: center;
  height: 4rem;
}

.logo {
  width: 70px;
  color: #555; /* Couleur de texte gris */
  height: auto;
  margin-right: 10px;
}

.button-navbar button {
  width: 40px;
  display: flex;
  background-color: transparent;
  border: none;
  background: none;
}

.button-navbar > button:hover {
  cursor: pointer;
}

.container {
  height: 90vh;
}

.navbar-links a {
  font-family: "Material Symbols Outlined", sans-serif;
  text-decoration: none;
  color: #555; /* Couleur de texte gris */
}
