.ListPage {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.ListItemContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
  background-color: var(--background-color);
}

.megalithItem {
  background: linear-gradient(90deg, rgb(182, 170, 112) 91%);
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: var(--light-text); /* Couleur de texte clair */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  gap: 1rem;
}

.introListItem {
  display: flex;
}

.paragraph-listItem {
  text-align: justify;
  align-self: center;
}

.mapUpdate-button {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.delete-ListItem {
  display: flex;
  justify-content: right;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}
.ListItemContainer {
  padding-top: 1rem;
  margin-top: 1rem;
}
