.mainMapPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2rem;
}

.mapComponent {
  display: flex;

  gap: 1rem;
}
.formMapPage {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.popUpname {
  font-size: 1rem;
  font-weight: 900;
}
.favori {
  background-color: yellow;
}
