.side-bar {
  width: 100%;
  color: black;
  position: sticky;
  text-align: center;
  top: 4rem;
  transition: transform 1s ease;
  transform: translateY(-250px);
  z-index: 1;
}

.side-bar.open {
  padding: 10px;
  transform: translateY(0);
  background-color: #3b5f58;
}

.side-bar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.side-bar li {
  padding: 10px;
}

.side-bar li a {
  color: white;
  text-decoration: none;
}

.side-small {
  display: none;
}

.side-bar.open .side-small {
  display: block;
}

/* 
.side-bar {
  width: 80px;
  height: 200%;
  color: black;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  transition: transform 1s ease;
  transform: translateX(-250px);
}

.side-bar.open {
  transform: translateX(0);
  background-color: hsl(0, 100%, 50%);
}

.side-bar ul {
  list-style: none;
  padding: 0;
}

.side-bar li {
  padding: 10px;
}

.side-bar li a {
  color: black;
  text-decoration: none;
}

.side-small {
  display: none;
}

.side-bar.open .side-small {
  display: block;
} 
*/
