.side-bar {
  width: 100%;
  color: black;
  position: sticky;
  text-align: center;
  top: 2rem;
  transition: transform 0.5s ease;
  transform: translateY(-250px);
  z-index: 1;
}

.side-bar.open {
  padding: 10px;
  transform: translateY(0);
  top: 4rem;

  /* background-color: #3b5f58; */
  background: rgb(22, 65, 24);
  background: linear-gradient(
    90deg,
    rgba(22, 65, 24, 1) 42%,
    rgba(184, 163, 58, 1) 91%
  );
}

.side-bar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.side-bar li {
  padding: 10px;
}

.side-bar li a {
  color: white;
  text-decoration: none;
}

.side-small {
  display: none;
}

.side-bar.open .side-small {
  display: block;
}
