.footer {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-evenly;
  & p {
    color: black;
  }
  position: relative;
  top: 10px;
}
.footer a {
  margin: 0 10px;
  color: #333;
}

.footer a:hover {
  color: #007bff;
}
.logo-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.credit-footer {
  display: flex;
  justify-content: center;

  p {
    font-size: 0.7rem;
  }
}
.imgMenhir img {
  height: 30px;
  justify-content: left;
}
