.container-homepage {
  position: relative;
  max-width: 100%;
  margin-bottom: 100px;
}
.container-homepage img {
  display: block;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-family: "MedievalSharp", cursive;
  font-size: 16px;
  width: 80%;
}

.text-overlay h1 {
  font-size: 60px;
  margin-bottom: 20 px;
  color: RGB(0, 7, 0);
  background-color: rgba(245, 245, 220, 0.5);
  border-radius: 30px;
}
